/* * {
  background-color: rgb(8, 8, 73);
}
 */

body {
  background-color: #edf2f4;
}
button {
  font-size: 30px;
  background-color: #edf2f4;
}

h1,
h2 {
  color: #11121a;
}

#signup {
  background-color: #1d3557;
  color: #edf2f4;
}

span {
  color: #ef233c;
}

.tag {
  background-color: #d90429;
  color: #edf2f4;
  font-size: 16px;
}
