/* * {
  background-color: rgb(8, 8, 73);
}
 */

body {
  background-color: #edf2f4;
}
button {
  font-size: 30px;
  background-color: #edf2f4;
}

h1,
h2 {
  color: #11121a;
}

#signup {
  background-color: #1d3557;
  color: #edf2f4;
}

span {
  color: #ef233c;
}

.tag {
  background-color: #d90429;
  color: #edf2f4;
  font-size: 16px;
}

.post a {
  color: #1d3557;
  text-decoration: none;
  font-weight: 700;
}

footer a {
  color: #ef233c;
}

h2 + button {
  font-size: 20px;
}

footer > a {
  color: #1d3557;
}

input[type="password"] {
  color: #d90429;
}

a[href*="google"] {
  color: #1d3557;
}

.post button:hover {
  background-color: #d90429;
  color: whitesmoke;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: #02c498;
}

.post:nth-of-type(2n) {
  background-color: #a19a9a79;
}

h2::first-letter {
  font-size: 50px;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: #fcbf49;
}
