/* * {
  background-color: rgb(8, 8, 73);
}
 */

body {
  background-color: #1d3557;
}
button {
  font-size: 30px;
  background-color: #edf2f4;
}

h1,
h2 {
  color: #edf2f4;
}

#signup {
  background-color: #1d3557;
  color: #edf2f4;
}
